@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.reveal-hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

/* Final State: Scroll කරාම trigger වෙන එක */
.reveal-visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}